<section>
  <div class="container">
    <div class="section-title-area">
      <h2 class="section-title">
        Sobre Nosotros
      </h2>
    </div>
    <div class="equipo row team-layout-4">
      <div class="col-md-3 miembro-list-item">
        <div class="imagen-miembro">
          <img src="https://4.bp.blogspot.com/-Q2CtUfh4e4o/WUSMO94qOoI/AAAAAAAAH1Q/agMcMVlLSqEd9u_2L7YZotaz1cMYw2oNgCLcBGAs/s1600/devilman-crybaby.jpg" alt="Fundador / Ingeniero">
        </div>
        <div class="informacion-miembro">
          <h5 class="nombre-miembro">
            Juan Chimaja
          </h5>
          <span class="cargo-miembro">
            Fundador/Ingeniero
          </span>
        </div>
      </div>

      <div class="col-md-3 miembro-list-item">
        <div class="imagen-miembro">
          <img src="https://4.bp.blogspot.com/-Q2CtUfh4e4o/WUSMO94qOoI/AAAAAAAAH1Q/agMcMVlLSqEd9u_2L7YZotaz1cMYw2oNgCLcBGAs/s1600/devilman-crybaby.jpg" alt="Fundador / Ingeniero">
        </div>
        <div class="informacion-miembro">
          <h5 class="nombre-miembro">
            Juan Chimaja
          </h5>
          <span class="cargo-miembro">
            Fundador/Ingeniero
          </span>
        </div>
      </div>
    </div>
  </div>
</section>