<section class="seccion-servicios">
  <i class="icon icon-s-custom-dev"></i>
  <div class="servicio-text">
    Servicios  
  </div>
  <div class="row home-servicios">
    <div class="col-md-4 servicios-col">
      <div class="servicio">
        <div class="servicio-icon">
          <div class="icon icon-s-custom-dev"></div>
        </div>
        <h2 class="servicio-title h3">
          Confiabilidad
        </h2>
        {{servicioTexto1}}
      </div>
    </div>

    <div class="col-md-4 servicios-col">
      <div class="servicio">
        <div class="servicio-icon">
          <div class="icon icon-s-custom-dev"></div>
        </div>
        <h2 class="servicio-title h3">
          Confiabilidad
        </h2>
        {{servicioTexto1}}
      </div>
    </div>

    <div class="col-md-4 servicios-col">
      <div class="servicio">
        <div class="servicio-icon">
          <div class="icon icon-s-custom-dev"></div>
        </div>
        <h2 class="servicio-title h3">
          Confiabilidad
        </h2>
        {{servicioTexto1}}
      </div>
    </div>
  </div>
  
</section>
